header{
   /*  background-color: aqua; */
    padding-left: 200px;
    height: auto;
}

header h1{
    padding-left: 300px;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    padding-left: 200px;
}

/* Esportes */
.div1{
    background-color: rgba(0, 89, 255, 0.300);
}

/* Economia */
.div2{
    background-color: rgba(0, 255, 13, 0.300);
    justify-content: space-between;
}

/* Entretenimento */
.div3{
    background-color: rgba(255, 0, 242, 0.300);
}

/* Tecnologia */
.div4{
    background-color: rgba(0, 195, 255, 0.300);
}

.articulos{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}

* img{
    width: 300px;
    height: 200px;
}

* p{
   font-size: 14px; 
   font: italic;
}

* article{
    border: groove;
    border-width: 6px;
}
.articulos h3{
    margin-top: 8px;
    margin-bottom: 8px;
}